body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, p, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    border: 5px solid #3882f6;
    border-radius: 25px;
    height: 300px;
    width: 550px;
}

.section-one, .section-two, .section-three, .section-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------START OF SECTION 1--------------- */

.header h1, .start-info h1{
    color: #f9faf8;
}

.header ul{
    display: flex;
    gap: 30px;
}

.header h1{
    font-size: 24px;
}

.start-info h1{
    font-size: 48px;
    font-weight: extra-bold;
}

.start-info p, button{
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.section-one{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    width: 70%;
    font-size: 18px;
    padding-top: 15px;
}

.start-info{
    display:flex;
    width: 70%;
    gap: 30px;
    padding: 50px;
    justify-content: space-between;
}

.start-text{
    width: 450px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* ----------------END OF SECTION 1------------- */

/* ---------------------START OF SECTION 2--------------- */

.section-two{
    color: #1f2937;
    text-align: center;
    padding: 50px;
}

.image-boxes{
    display: flex;
    margin-top: 50px;
    width: 70%;
    gap: 30px;
}

.box img{
    width: 220px;
    height: 220px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

/* ---------------------END OF SECTION 2------------------ */

/* ------------------------START OF SECTION 3----------------------*/

.section-three{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 90px;
}

.god-quote{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.quote{
    font-size: 36px;
    font-style: italic;
}

.thor{
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

/* -----------------------END OF SECTION 3-----------------------------*/

/* ---------------------------------START OF SECTION 4------------------------*/

.section-four{
    padding: 90px;
}

.action{
    color: #e5e7eb;
    background-color: #3882f6;
    width: 65%;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.action-button{
    align-self: center;
    border:2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
}

/* --------------------------------------END OF SECTION 4--------------------------- */



